/* styles.css */

section.hero{
  margin: 1.5rem 0;
}

.text-label, .text-hero-bold, .text-hero-regular{
  margin: 24px 0;
}

.text-label{
  color: #3464AE;
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
}

.text-hero-bold{
  color: #ADADAC;
  font-size: 60px;
  font-weight: bold;
  line-height: 74px;
}

.text-hero-regular{
  color: #3464AE;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;

}



