/* styles.css */
/* hero section */

section.hero{
  margin: 1.5rem 0;
}

.text-label, .text-hero-bold, .text-hero-regular{
  margin: 24px 0;
}

.text-label{
  color: #3464AE;
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
}

.text-hero-bold{
  color: #ADADAC;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
}

.text-hero-regular{
  color: #3464AE;
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
  text-align: justify;

}

/* Desktop version */

@media(min-width:1399.98px){
  .container{
    width: 84%;
  }
}

/*Mmobile version only*/

@media(max-width:768px){
  .navbar{
    padding: 10px 0;
}

a.nav-link{
  margin-right: 7px;
  
}

section.hero{
  margin: 2rem;
  text-align: center;
}

.cta .btn{
  display: block;
  margin: 2rem 0;
}

.ms-2{
  margin-left: 0 !important;
}

.text-hero-bold{
  color: #ADADAC;
  font-size: 42px;
  font-weight: bold;
  line-height: 64px;
}



section.hero img{ 
  margin: 2rem 0;
}


}
