*{
    font-family: 'Cabin',sans-serif;
}

i{
    font-size: 50px;
    margin-bottom: 15px;
    color:#ADADAC;
    font-weight: bolder;
}

h3{
   
    color: #3464AE;
    font-weight: bold;
}

