/* styles.css */


.cta .btn{
  padding: 15px 25px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}
.btn-primary{
  border:none;
}

.navbar-brand img{
  padding-right: 15px;
}

.navbar{
  padding: 20px 0;
}

a.nav-link{
  margin-right: 59px;
  font-size: 18px;
  font-weight: 500;
  color: #ADADAC !important;
  
}

a.nav-link:hover{
  border-bottom: 4px solid #3464AE;
}

